h1 {
  font-family: Verdana;
  font-size: 50px;
  font-weight: Normal;
  color: white;
  text-align: center;
  position: static;
  }
body {
    background-color: black;
  }
h2 {
  color: Aquamarine;
  font-size: 16px;
  text-align: center;
  position: static;
}
